.footer {
  width: 68.75%;
  margin: 0 auto;
  padding: 66px 0 55px;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 144px);
  }
}

@media screen and (max-width: 845px) {
  .footer {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 414px) {
  .footer {
    padding: 48px 0 36px;
  }
}